@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

* {
	box-sizing: border-box;
	margin: 0px;
}
html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	background: white;
}

.Navbar__Link-brand {
	font-size: 3rem;
	font-family: 'Fascinate Inline', cursive;
}
.NavContainer {
	position: fixed;
	top: 0;
	width: 100%;
	margin-right: -4px;
}
.Navbar {
	display: flex;
	padding: 0 3rem;
	font-family: sans-serif;
	color: white;
}
.colorNav {
	background-color: #303133 !important;
}

.Navbar__Link {
	align-self: center;

	padding-right: 8px;
}

.Navbar__Items {
	font-size: 1.7rem;
	font-family: 'Chela One', cursive;
	display: flex;
}

.Navbar__Items--right {
	margin-left: auto;
}

.Navbar__Link-toggle {
	display: none;
	font-size: 2rem;
	margin-top: 1rem;
	margin-right: 2rem;
}
.Navbar .link {
	margin-right: 16px;
}
.bg-dark {
	background-color: #303133 !important;
}
@media only screen and (max-width: 768px) {
	.Navbar__Items,
	.Navbar {
		flex-direction: column;
		padding: 10px;
	}

	.Navbar__Items {
		display: none;
	}

	.Navbar__Items--right {
		margin-left: 0;
	}

	.Navbar__ToggleShow {
		display: flex;
	}

	.Navbar__Link-toggle {
		align-self: flex-end;
		display: initial;
		position: absolute;
		cursor: pointer;
	}
	.Navbar .link {
		margin-right: 0;
	}
}
.Navbar a {
	color: white;
	text-decoration: none;
}
footer {
	text-align: center;
	bottom: 0;
	right: 0;
	width: 100%;

	background-color: white;
}
footer .footerContainer {
	margin-right: auto;
	margin-left: auto;
}
footer .footerContainer .muted {
	margin: 0;
	color: white;
	text-align: center;
}
footer .fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
footer .fa-heart {
	color: #ea4335 !important;
}
.beat {
	animation: beat 5s ease infinite;
}
@keyframes beat {
	0% {
		transform: scale(1);
	}
	5% {
		transform: scale(1.25);
	}
	20% {
		transform: scale(1);
	}
	30% {
		transform: scale(1);
	}
	35% {
		transform: scale(1.25);
	}
	50% {
		transform: scale(1);
	}
	55% {
		transform: scale(1.25);
	}
	70% {
		transform: scale(1);
	}
}
.made-with {
	text-align: center;
	font-size: 1.2rem;
}
.social {
	font-size: 25px;
	margin: 20px;
	margin-bottom: 0;
}
* {
	box-sizing: border-box;
}
user agent stylesheet div {
	display: block;
}
.social a {
	font-size: 2.3rem;
	margin: 0.3rem;
	text-decoration: none;
	color: black;
}
* {
	box-sizing: border-box;
}
user agent stylesheet .social a:-webkit-any-link {
	color: -webkit-link;
	cursor: pointer;
	text-decoration: underline;
}
footer .fab {
	font-family: 'Font Awesome 5 Brands';
}
.iecseLogo {
	margin: 0 auto;
	height: 150px;
	width: 300px;
}
.sponsorContainer {
	background: #f7f7f7;
	padding: 4rem 17rem;
}
.sponsorContent {
	margin: 0 5rem;
}
.sponsorLogos {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
}
.sponsorContainer p {
	color: #6a6a6a;
	font-size: 15px;
	margin: 1rem 0 2rem 0;

	font-family: 'Libre Franklin', sans-serif;
}
.sponsorHeader {
	font-family: 'Noto Sans', sans-serif;
	font-size: 32px;
	margin: 0;
}

@media only screen and (max-width: 768px) {
	.sponsorLogos {
		grid-template-columns: 1fr 1fr;
	}
	.sponsorContainer {
		background: #f7f7f7;
		padding: 1rem;
	}
}
@media only screen and (max-width: 350px) {
	.sponsorLogos {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		justify-items: center;
		flex-direction: column;
	}
	.sponsorContainer {
		background: #f7f7f7;
		padding: 1rem;
	}
}

* {
	box-sizing: border-box;
	margin: 0px;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.section {
	height: 100%;
}

#landing {
	background-color: black;
	padding: 10rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

#landing .heading {
	text-align: center;
	width: 80%;
	font-size: 5em;
}

#landing .byiecse {
	font-size: 1em;
	width: 10%;
	text-align: right;
	color: white;
}
#landing .iecse {
	padding-left: 130px;
}
#About-id {
	height: 100%;
	/* width: 100vw;*/
	display: flex;
	flex-direction: column;

	padding-top: 10px;
}

.about {
	display: flex;
	justify-content: center;
	font-weight: 700;
	font-size: 2em;
}

.about-text {
	display: flex;
	justify-content: center;
	font-weight: 300;
	font-size: 1.3em;
	padding-top: 25px;
	margin-right: 250px;
	margin-left: 250px;
}

#demo {
	display: flex;
	justify-content: center;
	font-size: 4em;
	font-weight: 700;
	padding-top: 60px;
	padding-bottom: 50px;
}

.boxes {
	font-size: 1.2em;
	display: inline-block;
	background-image: url('./assets/NLH.jpg');
}

.box1 {
	width: 20%;
	height: 20%;
	background-color: #4c8bf5;
	float: left;
}
.box1 .subhead {
	padding-top: 20px;
	font-size: 1em;
	font-weight: 700;
}

.box1 .cont {
	padding-top: 10px;
	font-size: 0.7em;
	font-weight: 400;
}

.box2 {
	float: right;
	width: 80%;
	height: 20%;
}

.gmap_canvas {
	display: flex;
	overflow: hidden;
	background: none !important;
	width: 100%;
}
@media only screen and (max-width: 1000px) {
	#landing .heading {
		text-align: center;

		font-size: 5em;
	}

	#landing .iecse {
		align-items: right;
	}

	#About-id {
		height: 100%;
	}

	.about {
		font-size: 2em;
	}
	.about-text {
		font-size: 1em;

		margin: 0px;
	}
	#demo {
		font-size: 2.3em;
	}
}
.anchor {
	padding-top: 4rem !important;
}
